OPENROUTER_API_KEY=
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
PHASE1_LLM_MODEL=meta-llama/llama-3.1-8b-instruct
PHASE2_LLM_MODEL=meta-llama/llama-3.1-8b-instruct
PHASE3_LLM_MODEL=meta-llama/llama-3.1-8b-instruct
NEO4J_URI=
NEO4J_USERNAME=
NEO4J_PASSWORD=
